:root {
  --font-family: 'Inter', sans-serif;

  --color-primary: #f551f5;
  --color-secondary: #fff;
  --color-dark-gray: #999;
  --color-light-gray: #f3f3f3;
  --color-gray: #c1c1c1;
  --color-black: #000;

  --header-height: 100px;
}

/* RESET */

* {
  box-sizing: border-box;
  -webkit-font-smooting: antialiased;
  -moz-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* TYPOGRAPHO */
body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.333;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-weight: 600;
  font-family: var(--font-family);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  &:hover {
    text-decoration: none;
  }
}

button {
  font-family: var(--font-family);
  font-size: 1rem;
}

/* COMPONENT */
.button {
  background-color: var(--color-primary);
  text-decoration: none;
  line-height: 1.5;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  color: var(--color-secondary);
}

.button--big {
  font-size: clam(1rem, 0.7794rem + 0.735vw, 1.25rem);
}

.button--inverted {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.gallery__like,
.product__like,
.cart-button,
.menu-button {
  background-color: none;
  border: 0;
  padding: 0;
}

/* SITE LAYOUT */
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns:
    [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 90rem)
    [inner-end] minmax(32px, 1fr) [full-end];
  row-gap: 5rem;
  margin-bottom: 15rem;
}

/* GRID-COLUMN INNER */
.hero,
.site-ingress,
.site-header__inner,
.gallery,
.promotion,
.blog,
.site-content,
.site-footer {
  grid-column: inner;
}

/* SITE HEADER */
.site-header {
  background-color: var(--color-black);
  height: var(--header-height);
  display: grid;
  position: fixed;
  z-index: 999;
  width: 100%;
  grid-template-columns:
    [full-start] minmax(32px, 1fr) [inner-start] minmax(0, 90rem)
    [inner-end] minmax(32px, 1fr) [full-end];
}

.site-header__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 1.5rem;
  gap: 3rem;
}

.site-header__branding {
  color: var(--color-primary);
  justify-items: start;
}

.site-header__buttons {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* MENU */
.menu {
  justify-self: center;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu__item--active {
  font-weight: 700;
}

.menu__link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.menu__link:hover {
  color: var(--color-primary);
}

.cart-button,
.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menu-button {
  display: none;
}

/* SITE CONTENT */
.site-content {
  margin-top: var(--header-height);
}

/* BREADCRUMB */
.breadcrumb {
  font-size: 0.875rem;
  margin-top: 2.75rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}

.breadcrumb__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.breadcrumb__item {
  color: var(--color-dark-gray);
  &::after {
    content: '/';
    margin-left: 0.5rem;
  }
  &:last-child {
    color: var(--color-primary);
    &::after {
      content: '';
      margin: 0;
    }
  }
}

.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}

.breadcrumb__link:hover {
  text-decoration: underline;
}

/* SINGLE PRODUCT */
.single {
  margin-top: 3rem;
}

.single-product__image {
  aspect-ratio: 1 / 1;
  background-color: var(--color-secondary);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.single-product__image img {
  height: 100%;
  object-fit: cover;
}

.single-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.single-product__content {
  display: flex;
  flex-direction: column;
}

.single-product__title {
  margin-top: 0;
  font-size: 1.975rem;
  line-height: 1.26;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.single-product__color {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.single-product__description {
  max-width: 33.25rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.single-product__price {
  font-size: 1.5rem;
  line-height: 1.66;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
}

/* PRODUCT VARIANTS */
.variants {
  display: flex;
  flex-direction: column;
}

.variants-title {
  margin-bottom: 0.875rem;
}

.variants__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.variants__button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 0%;
  height: 80px;
  width: 80px;
  padding: 0.5rem;
  cursor: pointer;
}
.variants__button img {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.variants__item--active .variants__button img {
  opacity: 1;
}

#add-to-cart {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  max-width: 19rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}

#like-button {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* MORE PRODUCTS */
.products {
  margin-top: 4.5rem;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
}

.iPhone {
  padding: 0.5rem;
}

.product {
  background-color: var(--color-secondary);
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.products__title {
  color: var(--color-primary);
}

.product__like {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: none;
  color: var(--color-primary);
}

.product__item img {
  display: block;
  height: 100%;
}

.single-product__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.single-product__details {
  margin-top: 3.5rem;
}

.details {
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-primary);
  &:first-child {
    border-top: 1px solid var(--color-primary);
  }
  padding: 0;

  &[open] {
    .details__summary {
      &::after {
        content: '˄';
      }
    }
  }

  .details p {
    max-width: 33 rem;
    padding: 0 1.5rem 1rem;
    color: var(--color-secondary);
  }

  .details__summary {
    color: var(--color-secondary);
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
    }

    &::after {
      content: '˯';
      width: 20px;
      height: 20px;
      display: flex;
    }
  }

  .details__summary--rating {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .rating {
    position: relative;
  }

  .rating__outlined {
    position: absolute;
    top: 0;
  }

  .rating__filled {
    overflow: hidden;
    max-width: 90%;
  }

  /* HERO */
  .hero {
    margin-top: var(--header-height);
  }

  .hero img {
    display: block;
    width: 100%;
  }

  /* FOOTER */

  footer {
    margin-top: 15rem;
  }

  .site-footer {
    background-color: var(--color-dark-gray);
    color: var(--color-secondary);
    margin-top: 5rem;
  }
}

.site-footer__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.menu__list--column {
  flex-direction: column;
  gap: 1rem;
  padding: 0.3rem;
}

.contact__address {
  margin-bottom: 1rem;
}

.contact__mail {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.contact__mail a {
  text-decoration: none;
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.site-footer__copyright {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
}

/* RESPONSIVE */
/* 1024px */
@media screen and (max-width: 64rem) {
  .container {
    row-gap: 4rem;
  }

  .site-header .menu {
    display: none;
  }

  .site-header__inner {
    grid-template-columns: 1fr 1fr;
  }

  .menu-button {
    display: block;
  }

  .hero {
    grid-column: full;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .products__grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
  }
  .single-product__title {
    font-size: 1.5rem;
  }
}

/* 640px */
@media screen and (max-width: 40rem) {
  .single-product {
    grid-template-columns: 1fr;
  }

  .single-product__image {
    width: 100%;
  }
}

/* 480px */
@media screen and (max-width: 30rem) {
  :root {
    --header-height: 80px;
  }

  .site-header__inner {
    padding: 0 0.5rem;
  }

  .single-product__title {
    font-size: 1.25rem;
  }

  .hero {
    margin-top: 80px;
  }

  .hero__image {
    aspect-ratio: 3 / 4;
  }

  .hero__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .site-footer__inner {
    padding: 0 1.2rem;
  }

  .site-footer__copyright {
    justify-content: flex-start;
    padding: 0 1rem;
  }

  .site-footer__copyright span {
    display: none;
  }

  .products__grid {
    gap: 1rem;
  }
}
